<!--
  Generated template for the ClubNearMe page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button menuToggle *ngIf="!selectedItem">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Find Clubs</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon class="displayN" name="ios-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="scrolll">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <div class="shots_filterArea">
      <ion-grid>
        <ion-row>
          <ion-col width-30>
            <!-- <ion-list>
              <ion-item> -->
            <ion-input text-left type="text" [(ngModel)]="zip_code" placeholder="Zip Code" class="zip_code"></ion-input>
            <!-- </ion-item> 
            </ion-list> -->
          </ion-col>
          <ion-col width-70>
            <ion-item class="ios-slider">
              <ion-label text-left>{{distance=='300'?'300+':distance}} Miles</ion-label>
              <ion-range min="0" max="300" step="0" snaps="false" color="primary" [(ngModel)]="distance" class="range"> </ion-range>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button class="fblogin_button" (click)="searchClubs()" ion-button block text-capitalize class="search_btn">Search</button>
    </div>
    <!-- <div class="shots_filterArea">
    <ion-grid>
      <ion-row>
        <ion-col width-30>
        </ion-col>
        <ion-col width-70>
            <ion-item class="ios-slider">
              <ion-label text-left>{{distance=='300'?'300+':distance}} Miles</ion-label>
              <ion-range min="0" max="300" step="10" snaps="false" color="primary" [(ngModel)]="distance">
              </ion-range>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid> 
    <button class="fblogin_button" (click)="searchClubs()" ion-button block text-capitalize>Search</button>
  </div>  -->
  </div>
  <div class="upcomming_event" >
    <p text-center *ngIf="noClubsFound">No club found</p>

    <div *ngIf="searching" text-center class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
    <template ngFor let-club [ngForOf]="clubs" let-i="index">
      <ion-list >
        <ion-item>
          <ion-avatar *ngIf="club.is_favorite == null" (click)="makeFav(club)" item-left text-center>
            <img src="images/club_icon_c.png">
          </ion-avatar>
          <ion-avatar *ngIf="club.is_favorite != null" (click)="deleteFav(club)" item-left text-center>
            <img *ngIf="club.is_favorite != null" src="images/house.png">
          </ion-avatar>
          <ion-label (click)="clubDetails($event,club)" >{{club.club_name}}<br>  
              <!-- <h5 >{{club.city}} , <small>{{club.state}}</small></h5> -->
              <small> {{club.city}}, {{club.state}}</small>
             
              <!-- <p  no-padding>{{club.address}}</p> 
              <p class="none">{{club.zip_code}}</p> -->
             
              </ion-label>
           <p item-right *ngIf="club.distance">{{club.distance | number : '1.2-2'}} miles</p>
          <h6 item-right class="More" (click)="clubDetails($event,club)"> More</h6>
          <ion-icon (click)="clubDetails($event,club)" class="customIcon" name="ios-arrow-forward"></ion-icon>
        </ion-item>
        <template *ngIf="(i+1) % 3 == 0 && (((i+1) / 3) - 1)< banners?.length" ngFor let-banner [ngForOf]="banners" let-index="index"
        let-isFirst="first">
          <ion-slides autoplay="10000" loop="true" speed="3000">
            <ion-slide *ngFor="let banner of banners[((i+1) / 3) - 1]">
              <div *ngIf="isFirst" class="list_banner">
                <img class="img-responsive" [src]=banner.image/>
              </div>
            </ion-slide>
          </ion-slides>
        </template>
          
      </ion-list>
    </template>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>