page-club-near-me {
    .segmentArea{ padding:10px 10px 5px 10px;}
	.segment-md .segment-button{ border-bottom:1px solid rgb(56, 126, 245)}
	.segment-button:last-of-type {
	    margin-left: 0px;
	    border-left-width: 0px;
	    border-radius: 0px 4px 4px 0px;
	}


	ion-item.item-ios.ios-slider{padding: 0 9px !important; width: 120%; margin-left: -20%;}
	ion-item.item-md.ios-slider{padding: 0 9px !important; width: 120%; margin-left: -20%;}
	ion-item{box-shadow:none !important;}
	
	.segment-button.segment-activated {
	    color: #fff !important;
	    background-color: #7d858b !important; 
	    opacity: 1;
	    transition: all 100ms linear;
	    border:1px solid #333 !important;
	    border-bottom:1px solid #333 !important;
	}

	.segment-md .segment-button{}
	.More{
		font-weight: 300;
		 font-family: 'Lato', sans-serif;
		 font-size: 12px;
	}
	.list_banner {
	  width:100%;
	  height: 90px;
	  background: #ececec;
	}
	.img-responsive {
   width: 100%;
	position: relative;

	//border-radius: 1%;
	}

	
	.segment-button:first-of-type {
	    margin-right: 0px;
	    border-radius: 4px 0px 0px 4px;
	}
	
	.segment-button {
	    width: 0px;
	    height: 30px !important;
	    font-size: 1.3rem;
	    line-height: 30px !important;
	    color: #000 !important;
	    background-color: #ececec !important;
	    flex: 1 1 0%;
	    border-width: 1px;
	    border-style: solid;
	    border-color: #ccc !important;
	    border-bottom:1px solid #ccc !important;
	}
	
	
	
	.segment-button {
	    position: relative;
	    display: block;
	    margin-right: 0px;
	    margin-left: 0px;
	    text-align: center;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    cursor: pointer;
	    overflow: hidden;
	}
	.none{
		display: none;
	}
	.scrolll{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: block;
	width: 100%;
	background-color: white;
	}
	ion-searchbar{background:#ccc !important;}
	.searchbar-input{box-shadow:none !important;}

	.upcomming_event{position: relative;}	
    .upcomming_event ion-list ion-item{ background:#fff;}	
    .upcomming_event p.title{font-family: 'Lato', sans-serif; font-size: 16px;font-weight: 300; color:#000; padding-top:15px;}
    .upcomming_event ion-list ion-item h2{font-family: 'Lato', sans-serif; font-size: 16px;font-weight: 600; padding-right:8px;}
    .upcomming_event ion-list ion-item h2 span{font-family: 'Lato', sans-serif; font-size: 14px;font-weight: 300; float:right;color:#25aae1;}
    .upcomming_event ion-list ion-item p{font-family: 'Lato', sans-serif; font-size: 14px;font-weight: 300; color:#7d858b;} 
    .upcomming_event ion-list ion-item p.yellow{font-size: 12px; color:#f58124; font-weight:400;}
    .upcomming_event ion-list ion-item p.blue{font-size: 12px; color:#25aae1; font-weight:400;}
    .upcomming_event ion-list ion-item .item-inner{border:none !important;} 
    .upcomming_event ion-list ion-item{border-bottom:1px solid #e2e2e2 !important;} 
    .upcomming_event .list-ios > .item-block:first-child{ border-top:none;}
    .customIcon{position: absolute;right: 6px;top: 33%; font-size: 22px; color:#b7b7b7;}
   .shots_filterArea{ padding:0px 10px 0px; border-bottom:1px solid #ccc; margin-bottom:5px;} 
    .shots_filterArea ion-list{margin-bottom:0px;} 
    .shots_filterArea ion-label{margin:0px 0 4px 0;} 
    .shots_filterArea .select-md,.shots_filterArea .select-ios{padding: 6px 8px 6px 16px;border: 1px solid #ccc; min-width: 100px;clear: both;overflow: hidden; margin-bottom:2px;}
    .alert-head{ display: none !important; }
    .shots_filterArea .item-inner{ border-bottom:none !important;padding-right:0px !important;}
    .shots_filterArea ion-item{padding:0 !important;}
    .shots_filterArea .text-input{ border: 1px solid #ccc;padding: 8px;margin: 0px;}
    .shots_filterArea .list-md .item-input:last-child,.shots_filterArea .list-md .item-input.input-has-focus:last-child{ border-bottom:none !important; border-bottom-color:#fff !important;}
    .shots_filterArea .list-md .item-input.input-has-focus .item-inner{ border-bottom:none !important; }
    .shots_filterArea ion-label{float: left;position: absolute;left: 0px;}
    .alert-wrapper{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;} 
    .range-ios .range-knob-handle{width:20px; height:20px;}
    .range-ios{padding: 8px 3px;}
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
	}
	
	.zip_code{width: 80%;}
	.range{margin-top: 1%;}
	.search_btn{margin-top: -4%;}
	.line{border-bottom: 1px solid #ccc; width: 96%;margin-left: 2%}
	.list-ios {margin: -1px 0 9px 0;}
	.list-md {margin: -1px 0 9px 0;}
	
}
.toolbar-ios{
	padding-top: 10px !important;
}
.bar-buttons-ios[end]{
	padding-top: 0px !important;
}
.bar-buttons-ios
{
	padding-top: 0px !important;
}
.toolbar-ios,.toolbar-ios ion-title
{
	min-height: 35px !important;
	height:auto !important;
	padding-top: 7px !important;
}
.toolbar-ios
{
	padding-right: 10px !important;
}