page-item-details {

}
.toolbar-ios{
    padding-top: 10px !important;
}
.bar-buttons-ios[end]{
    padding-top: 0px !important;
}
.bar-buttons-ios
{
    padding-top: 0px !important;
}
.toolbar-ios,.toolbar-ios ion-title
{
    min-height: 35px !important;
    height:auto !important;
    padding-top: 7px !important;
}
.toolbar-ios
{
    padding-right: 10px !important;
}