page-shoot-league {
		.header p{
    font-family: 'Lato', sans-serif;font-weight:400;line-height: 1.2em;
    font-size: 20px;
    word-wrap: break-word;
    white-space: -moz-pre-wrap; 
    white-space: pre-wrap;
}
.data p{
font-size: 18px;
color:#0072bc;

}
.range-ios.range-has-pin {
  padding-top: 0px;
}
.range{
    padding-top: 40px;
}
.edit{
    text-align: center;
    margin-left:30%;
    margin-top: -10%;
    
}
.info p{

    font-size: 18px;
    color:#000000;
}
.btn{
    text-align: center;
    margin-left:25%;
    width:50%;
}
ion-card{margin:0px !important; box-shadow:none  !important;-moz-box-shadow:none  !important;-webkit-box-shadow:none  !important;}
.bar-button-md{text-transform: capitalize;}
.hidebackIcon .back-button-icon{ display:none;}
.hidebackIcon .title.title-md{ width:80%;}
.note_bg{ background:#f6f8fb;}
.note_bg ion-item{background: transparent;}
.range-md.range-has-pin,.range{padding-top:0px;}


 .note_grid .segmentArea { padding:0px;margin-top: 21px;}
.note_grid .shots_filterArea {padding:0px; margin:0px; border-bottom:none;}
.note_grid .shots_filterArea ion-item{padding:0px;}
.note_grid .shots_filterArea ion-label{display:none;}
.note_grid .shots_filterArea p{margin: 0px 0px 2px 0px;font-size: 12px;}
.note_grid .shots_filterArea ion-select{padding: 8px 8px 8px 10px !important;border: 1px solid #ccc !important; min-width:98%;}
.shots_filterArea{ padding:0px 10px 10px; border-bottom:1px solid #ccc; margin-bottom:5px;} 
.shots_filterArea ion-list{margin-bottom:0px;} 
.shots_filterArea ion-label{margin:0px 0 4px 0;} 
.shots_filterArea .select-md,.shots_filterArea .select-ios{padding: 6px 8px 6px 16px;border: 1px solid #ccc; min-width: 100px;clear: both;overflow: hidden; margin-bottom:2px;}
ion-item .item-inner,.item-cover{ padding:0px;}
ion-item{padding:0px !important;}
.datePicker{}
.datePicker ion-datetime{padding: 8px 8px 8px 10px !important;border: 1px solid #ccc !important; min-width:98%;}
.datePicker ion-select{padding: 8px 8px 8px 10px !important;border: 1px solid #ccc !important; min-width:98%;}
.datePicker ion-label{ display: none !important;}
.shoot_dateNameArea{}
.shoot_dateNameArea ion-col{padding:0 5px !important;}
.shoot_dateNameArea p.shootNameTxt{font-family: 'Lato', sans-serif;font-weight:300; font-size:16px; color:#7b7777; margin:5px 0px; padding:0 8px;}
.shoot_dateNameArea p.dateLabel{font-family: 'Lato', sans-serif;font-weight:300; font-size:16px; color:#7b7777; margin:2px 0px;}
.shoot_dateNameArea h2{font-family: 'Lato', sans-serif;font-weight:400; font-size:18px; color:#000;border-bottom: 1px solid #a6a1a1; padding: 2px 0 5px 0px;margin: 0 8px;}
.datePicker .item-inner{ border-bottom:none !important;}
}
.toolbar-ios{
    padding-top: 10px !important;
}
.bar-buttons-ios[end]{
    padding-top: 0px !important;
}
.bar-buttons-ios
{
    padding-top: 0px !important;
}
.toolbar-ios,.toolbar-ios ion-title
{
    min-height: 35px !important;
    height:auto !important;
    padding-top: 7px !important;
}
.toolbar-ios
{
    padding-right: 10px !important;
}