
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button menuToggle *ngIf="!selectedItem">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Find Shoots</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon class="displayN" name="ios-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="scrolll">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search or add a new shoot"></ion-searchbar>
    <div class="segmentArea">
      <ion-segment (ngModelChange)="filterByLevel($event)" [(ngModel)]="segment">
        <ion-segment-button value="all">
          ALL
        </ion-segment-button>
        <ion-segment-button value="ATA">
          ATA
        </ion-segment-button>
        <ion-segment-button value="PITA">
          PITA
        </ion-segment-button>
        <ion-segment-button value="LEAGUE">
          LGE
        </ion-segment-button>
        <!-- <ion-segment-button value="prtc">
        PRTC
      </ion-segment-button> -->
      </ion-segment>
    </div>
    <div class="shots_filterArea">
      <ion-grid>
        <ion-row>
          <ion-col width-30>
            <!-- <ion-list>
              <ion-item> -->
            <ion-input text-left type="text" [(ngModel)]="zip_code" placeholder="Zip Code" class="zip_code"></ion-input>
            <!-- </ion-item> 
            </ion-list> -->
          </ion-col>
          <ion-col width-70>
            <ion-item class="ios-slider">
              <ion-label text-left>{{distance=='300'?'300+':distance}} Miles</ion-label>
              <ion-range min="0" max="300" step="0" snaps="false" color="primary" [(ngModel)]="distance" class="range"> </ion-range>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button class="fblogin_button" (click)="searchShoots()" ion-button block text-capitalize class="search_btn">Search</button>
    </div>
    <div class="upcomming_event">
      <div text-center padding *ngIf="shoots == '' ">
        <p>No Shoot found</p>
        <button ion-button block (click)="addShoots($event)">Add New Shoot</button>
      </div>
    </div>
  </div>
  <ion-list>

    <div *ngIf="searching" text-center class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
    <div class="upcomming_event" no-padding>
    <template ngFor let-shoot [ngForOf]="shoots" let-i="index" >
      <ion-list lines>
        <ion-item >
          <ion-avatar *ngIf="shoot.is_favorite == null" (click)="makeFav(shoot)" item-left text-center >
            <img *ngIf="shoot.level_id == '1'" src="images/ata_lighter.png">
            <img *ngIf="shoot.level_id == '3'" src="images/lgue_lighter.png">
            <img *ngIf="shoot.level_id == '2'" src="images/pita_lighter.png">
            <img *ngIf="shoot.level_id == '4'" src="images/Pract1.png">
            <p *ngIf="shoot.level_id != '3'" [ngClass]="{yellow: shoot.levelname == 'ATA', blue: shoot.levelname == 'PITA', prtc : shoot.level_id == '4'}"
              text-center text-capitalize>{{(shoot.level_id=='4')?'PRTC':shoot.levelname}}</p>
            <p *ngIf="shoot.level_id == '3'" class="green">LGUE</p>
          </ion-avatar>
          <ion-avatar *ngIf="shoot.is_favorite != null" (click)="deleteFav(shoot)" item-left text-center>
            <img *ngIf="shoot.level_id == '1'" src="images/ata.png">
            <img *ngIf="shoot.level_id == '3'" src="images/lgue.png">
            <img *ngIf="shoot.level_id == '2'" src="images/pita.png">
             <img *ngIf="shoot.level_id == '4'" src="images/Pract2.png">
            <p *ngIf="shoot.level_id != '3'" [ngClass]="{yellow: shoot.levelname == 'ATA', blue: shoot.levelname == 'PITA', prtc : shoot.level_id == '4'}"
              text-center text-capitalize>{{(shoot.level_id=='4')?'PRTC':shoot.levelname}}</p>
            <p *ngIf="shoot.level_id == '3'" class="green">LGUE</p>
          </ion-avatar>

          <h2 (click)="shootDetails($event,shoot)">{{shoot.shoot_name}}
            </h2>
          <p (click)="shootDetails($event,shoot)">{{shoot.club_name}}</p>
          <p (click)="shootDetails($event,shoot)">{{shoot.city}}, {{shoot.state}}</p>
            <p >{{shoot.shoot_date | date}}</p>
             <p item-right *ngIf="shoot.distance">{{shoot.distance | number : '1.2-2'}} miles</p>
          <h6 item-right class="More" (click)="shootDetails($event,shoot)"> More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h6>
          <ion-icon (click)="shootDetails($event,shoot)" class="customIcon" name="ios-arrow-forward"></ion-icon>
        </ion-item>

        <div class="line"></div>
        <template *ngIf="(i+1) % 3 == 0 && (((i+1) / 3) - 1)< banners?.length" ngFor let-banner [ngForOf]="banners" let-index="index"
        let-isFirst="first">
          <ion-slides autoplay="10000" loop="true" speed="3000">
            <ion-slide *ngFor="let banner of banners[((i+1) / 3) - 1]">
              <div *ngIf="isFirst" class="list_banner">
                <img class="img-responsive" [src]=banner.image/>
              </div>
            </ion-slide>
          </ion-slides>
        </template>
   <!-- <div *ngIf="isFirst" class="list_banner"><img class="img-responsive" [src]="banners[((i+1) / 3) - 1].image"/></div>   -->
      </ion-list>
    </template>
   
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>



</ion-content>