page-note-details {
.header p{
    font-family: 'Lato', sans-serif;font-weight:400;line-height: 0.8em;
    font-size: 20px;
    word-wrap: break-word;
    white-space: -moz-pre-wrap; 
    white-space: pre-wrap;
}
.data p{
font-size: 18px;
color:#0072bc;

}
.data{
    font-family: 'Lato', sans-serif;
}
.info p{

    font-size: 14px;
    color:#000000;
    .img{
        width:50px;
        height: 50px;
    }
}
	.class{
		 margin-top: 8%;
		  margin-left: 4%;
	}
	.class1{
		 margin-top: -12%;
		  margin-left: 2%;
	}
.score p{
font-size: 26px;
color:#0072bc;
text-align: center;
}
.note h1{
    font-family:bold;
    font-size: 20px
}
.edit{
    text-align: center;
    margin-left:25%;
    width:50%;
}
.square{
	border: 2px solid #a1a1a1;
	margin-left: 0px;
    padding: 10px 10px; 
	 height: auto;
    width: 100%;
	}
ion-card{margin:0px !important; box-shadow:none  !important;-moz-box-shadow:none  !important;-webkit-box-shadow:none  !important;}
.bar-button-md{text-transform: capitalize;}
.hidebackIcon .back-button-icon{ display:none;}
.hidebackIcon .title.title-md{ width:80%;}
.note_bg{ background:#f6f8fb;}

}
.toolbar-ios{
    padding-top: 10px !important;
}
.bar-buttons-ios[end]{
    padding-top: 0px !important;
}
.bar-buttons-ios
{
    padding-top: 0px !important;
}
.toolbar-ios,.toolbar-ios ion-title
{
    min-height: 35px !important;
    height:auto !important;
    padding-top: 7px !important;
}
.toolbar-ios
{
    padding-right: 10px !important;
}
