<!--
  Generated template for the AddEventOnShoot page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="hidebackIcon">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Add Score</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form #addShootsForm="ngForm">
    <div class="shoot_dateNameArea">
      <ion-grid class="datePicker">
        <ion-row>
          <ion-col width-10>
            <ion-icon class="icon" ios="ios-home" md="md-home"></ion-icon>
          </ion-col>
          <ion-col width-80>
            <!--<p class="shootNameTxt">Shoot name</p>-->
            <h2 text-capitalize>{{shootdetails.shoot_name}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="datePicker">
        <ion-row>
          <ion-col width-10>
            <ion-icon class="icon" ios="ios-calendar" md="md-calendar"></ion-icon>
          </ion-col>
          <ion-col width-80>
            <!--<p class="dateLabel">Start</p> (ionChange)='setStartDate()  [disabled]="true" -->
            <ion-item>
              <ion-label>Date</ion-label>
              <ion-datetime class="start" displayFormat="MM/DD/YY" pickerFormat="MM/DD/YYYY" name="addShootDetails.event_start_date" [(ngModel)]="addShootDetails.event_start_date"
                (ionChange)='setStartDate()'></ion-datetime>
            </ion-item>
          </ion-col>
          <!-- <ion-col width-40>
            <ion-item>
              <ion-label>End Time</ion-label>
              <ion-datetime class="end" displayFormat="MM/DD/YY" pickerFormat="MM/DD/YY" name="addShootDetails.event_end_date" [(ngModel)]="addShootDetails.event_end_date"
                (ionChange)='setEndDate()' required></ion-datetime>
            </ion-item>
          </ion-col> -->
          <ion-col width-10>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="datePicker">
        <ion-row no-padding>
          <ion-col width-10>
            <ion-icon class="icon" ios="ios-aperture" md="md-aperture"></ion-icon>
          </ion-col>
          <ion-col class="border">
            <ion-row>
              <ion-col width-40 class="level">
                <p class="dateLabel">Level :</p>
              </ion-col>
              <ion-col width-60 no-padding>
                <ion-item class="start_for_level">
                  <ion-label>Level</ion-label>
                  <ion-input disabled text-left type="text" name="level" [(ngModel)]="level"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col width-10>
          </ion-col>
        </ion-row>
        <br>
        <ion-row no-padding>
          <ion-col width-10>
          </ion-col>
          <ion-col width-40 *ngIf="addShootDetails.level_id!='4'" no-padding>
            <!--<p class="dateLabel">Event #</p>-->
            <ion-item>
              <ion-label>Event #</ion-label>
              <ion-select name="addShootDetails.event_id" (ionChange)='setEvent(addShootDetails.event_id)' [(ngModel)]="addShootDetails.event_id"
                placeholder="Event #" required class="select_for_event">
                <!-- <ion-option value="0">None</ion-option> -->
                <ion-option value="1">1</ion-option>
                <ion-option value="2">2</ion-option>
                <ion-option value="3">3</ion-option>
                <ion-option value="4">4</ion-option>
                <ion-option value="5">5</ion-option>
                <ion-option value="6">6</ion-option>
                <ion-option value="7">7</ion-option>
                <ion-option value="8">8</ion-option>
                <ion-option value="9">9</ion-option>
                <ion-option value="10">10</ion-option>
                <ion-option value="11">11</ion-option>
                <ion-option value="12">12</ion-option>
                <ion-option value="13">13</ion-option>
                <ion-option value="14">14</ion-option>
                <ion-option value="15">15</ion-option>
                <ion-option value="16">16</ion-option>
                <ion-option value="17">17</ion-option>
                <ion-option value="18">18</ion-option>
                <ion-option value="19">19</ion-option>
                <ion-option value="20">20</ion-option>
                <ion-option value="21">21</ion-option>
                <ion-option value="22">22</ion-option>
                <ion-option value="23">23</ion-option>
                <ion-option value="24">24</ion-option>
                <ion-option value="25">25</ion-option>

              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col width-40>
            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select name="addShootDetails.type_id" (ionChange)='setMaxTrapNumber()' [(ngModel)]="addShootDetails.type_id" placeholder="Type"
                required>
                <ion-option *ngFor="let type of allTypes" value="{{type.type_id}}">{{type.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col width-10>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <ion-grid class="note_bg" no-padding>
        <ion-row no-padding>
          <ion-col width-50 no-padding>
            <p class="shootNameTxtt">
              <strong> Trap #</strong>
            </p>
          </ion-col>
          <ion-col width-50 no-padding>
            <p style="font-size: 18px;" color="primary">
              {{tempTraps}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col width-10>
          </ion-col>
          <ion-col width-90 no-padding>
            <ion-list *ngFor="let tempRange of ranges; let i = index" no-lines>
              <ion-item>
                <h2 item-left>{{i+1}}. {{tempRange.range}}/{{tempRange.roundLength}} </h2>

                <ion-range name="range{{i+1}}" [(ngModel)]="tempRange.range" min="0" max="{{tempRange.roundLength}}" (ionChange)='setTrap()' color="primary"
                  pin="false"></ion-range>

                <ion-icon (click)="changeRound(tempRange)" name="options" item-right></ion-icon>

                <ion-icon (click)="deleteTraps(tempRange)" name="ios-trash-outline" item-right></ion-icon>

              </ion-item>

              <ion-item *ngIf="tempRange.round">
                <ion-range name="tempRange.range" [(ngModel)]="tempRange.roundLength" min="0" snaps="true" max="200" step="25" color="primary" (ionChange)='resetTrap(tempRange)'
                  pin="false"></ion-range>
                  
              </ion-item>
            </ion-list>
          </ion-col>
          <!-- <ion-col width-10>
        </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <ion-grid style="margin-top:10%">
        <ion-row>
          <ion-col *ngIf="addShootDetails.type_id == 2">
            <button ion-button color="dark" (click)="addDTrap()" outline class="edit">+ Add Trap</button>
          </ion-col>
          <ion-col *ngIf="addShootDetails.type_id != 2">
            <button ion-button color="dark" (click)="addTraps()" outline class="edit">+ Add Trap</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <ion-grid *ngIf="shootdetails.levelname == 'ATA' || shootdetails.levelname == 'PITA' " class="note_grid">
        <ion-row>
          <ion-col width-10>
          </ion-col>
          <ion-col width-80>
            <ion-item *ngIf="addShootDetails.type_id != 3">
              <ion-label>Class/Category</ion-label>
              <ion-toggle name="addShootDetails.show" [(ngModel)]="addShootDetails.show" (ionChange)="changeClass()" [checked]="addShootDetails.show"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="addShootDetails.type_id == 3">
              <ion-label>Category/Yardage</ion-label>
              <ion-toggle name="addShootDetails.show" [(ngModel)]="addShootDetails.show" (ionChange)="changeCategory()" [checked]="addShootDetails.show"></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col width-10>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-20 style="padding-top:0px;" *ngIf="addShootDetails.type_id != 3">
            <div *ngIf="addShootDetails.show">
              <img src="images/trophy.png" alt="" style="max-width:80%;opacity: 0.5;" *ngIf="addShootDetails.class_id==0|| addShootDetails.place_id==0">
              <img src="images/trophy.png" alt="" style="max-width:80%;" *ngIf="addShootDetails.class_id!=0 && addShootDetails.place_id!=0">
            </div>
            <div *ngIf="!addShootDetails.show">
              <img src="images/trophy.png" alt="" style="max-width:80%;opacity: 0.5;" *ngIf="addShootDetails.category_id==0|| addShootDetails.place_id==0">
              <img src="images/trophy.png" alt="" style="max-width:80%;" *ngIf="addShootDetails.category_id!=0 && addShootDetails.place_id!=0">
            </div>
          </ion-col>
          <ion-col width-20 style="padding-top:0px;" *ngIf="addShootDetails.type_id == 3">
            <div *ngIf="addShootDetails.show">
              <img src="images/trophy.png" alt="" style="max-width:80%;opacity: 0.5;" *ngIf="addShootDetails.category_id==0|| addShootDetails.place_id==0">
              <img src="images/trophy.png" alt="" style="max-width:80%;" *ngIf="addShootDetails.category_id!=0 && addShootDetails.place_id!=0">
            </div>
            <div *ngIf="!addShootDetails.show">
              <img src="images/trophy.png" alt="" style="max-width:80%;opacity: 0.5;" *ngIf="addShootDetails.earned_yardage==0|| addShootDetails.place_id==0">
              <img src="images/trophy.png" alt="" style="max-width:80%;" *ngIf="addShootDetails.earned_yardage!=0 && addShootDetails.place_id!=0">
            </div>
          </ion-col>
          <ion-col width-40 style="padding-top:0px;">
            <div *ngIf="addShootDetails.type_id != 3">
              <div *ngIf="addShootDetails.show" class="shots_filterArea">
                <!--<p>Class</p>-->
                <ion-item>
                  <ion-label>Class</ion-label>
                  <ion-select name="addShootDetails.class_id" [(ngModel)]="addShootDetails.class_id" (ionChange)="setClass(addShootDetails.class_id)"
                    placeholder="Class">
                    <ion-option value="0">None</ion-option>
                    <ion-option *ngFor="let class of allClass" value="{{class.class_id}}">{{class.class_name}}</ion-option>
                  </ion-select>
                </ion-item>
              </div>
              <div *ngIf="!addShootDetails.show" class="shots_filterArea">
                <!--<p>Category</p>-->
                <ion-item>
                  <ion-label>Category</ion-label>
                  <ion-select name="addShootDetails.category_id" [(ngModel)]="addShootDetails.category_id" (ionChange)="setCategory(addShootDetails.category_id)"
                    placeholder="Category">
                    <ion-option value="0">None</ion-option>
                    <ion-option *ngFor="let category of allCategory" value="{{category.category_id}}">{{category.name}}</ion-option>
                  </ion-select>
                </ion-item>
              </div>
            </div>
            <div *ngIf="addShootDetails.type_id == 3">
              <div *ngIf="addShootDetails.show" class="shots_filterArea">
                <!--<p>Category</p>-->
                <ion-item>
                  <ion-label>Category</ion-label>
                  <ion-select name="addShootDetails.category_id" [(ngModel)]="addShootDetails.category_id" (ionChange)="setCategory(addShootDetails.category_id)"
                    placeholder="Category">
                    <ion-option value="0">None</ion-option>
                    <ion-option *ngFor="let category of allCategory" value="{{category.category_id}}">{{category.name}}</ion-option>
                  </ion-select>
                </ion-item>
              </div>
              <div class="shots_filterArea" *ngIf="!addShootDetails.show">
                <!--<p>Earned</p>-->
                <ion-item>
                  <ion-label> Yardage</ion-label>
                  <ion-select name="addShootDetails.yardage_id" [(ngModel)]="addShootDetails.yardage_id" placeholder="Yardage">
                    <ion-option value="0">None</ion-option>
                    <ion-option *ngFor="let earned of allEarnedYardage" value="{{earned.yardage_id}}">{{earned.yardage_value}}</ion-option>
                  </ion-select>
                </ion-item>
              </div>
            </div>
          </ion-col>
          <ion-col width-40 style="padding-top:0px;">
            <div class="shots_filterArea">
              <!--<p>Place</p>-->
              <ion-item>
                <ion-label>Place</ion-label>
                <ion-select name="addShootDetails.place_id" [(ngModel)]="addShootDetails.place_id" placeholder="Place">
                  <ion-option value="0">None</ion-option>
                  <ion-option *ngFor="let place of allPlaces" value="{{place.place_id}}">{{place.place_name}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col width-10>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-20>
          </ion-col>
          <ion-col width-40 style="padding-top:0px;">
            <div class="shots_filterArea" *ngIf="addShootDetails.type_id == 3">
              <ion-item>
                <ion-label>Earned Yardage</ion-label>
                <ion-select name="addShootDetails.earned_yardage_id" (ionChange)='AddEarnedYardage(EarnedYardage)' [(ngModel)]="addShootDetails.earned_yardage_id"
                  placeholder="Earned Yardage">
                  <ion-option value="0">None</ion-option>
                  <ion-option *ngFor="let earned of EarnedYardage" value="{{earned.earned_yardage_id}}">{{earned.earned_yardage_value}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
          <ion-col width-40>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row no-padding>
          <ion-col width-3>
          </ion-col>
          <ion-col width-94>
            <!--<ion-label class="note"> Note</ion-label>-->
            <ion-item>
              <!-- <ion-textarea name="addShootDetails.note" [(ngModel)]="addShootDetails.note" placeholder="enter your notes here…"> </ion-textarea> -->
              <textarea placeholder="Enter your Note here... " [(ngModel)]="addShootDetails.note" rows="4" name="comment[text]" id="comment_text"
                cols="100" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
            </ion-item>
          </ion-col>
          <ion-col width-3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div padding style="margin-bottom:0%">
      <button [disabled]="!addShootsForm.form.valid" (click)="confirm()" [disabled]="!addShootsForm.form.valid" type="Submit" ion-button
        block>Submit</button>

    </div>
  </form>
</ion-content>
<!-- <ion-footer>

</ion-footer> -->